*.csv
*.png
*.pdf
*.pid
*.gr
*.bin
*.adj
*.pack
*.o
*.d
*.idx
*.old
**/*logs*/**
**/*outputs*/**
*-exe*
*.log
astar/build/*
astar/MQBucket_1_germany_path.txt
astar/path.txt
cps/OLD-*
cps/include-spraylist/paper/*
**/inputs/**
galois/lj-bfs-perf.data
galois/error-eg2.txt
**/build/**
**/output-ising-1000